<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Apply</title>
  <link rel="stylesheet" th:href="@{/css/admin/apply.css}">
  <link rel="stylesheet" th:href="@{/css/board/background.css}">
</head>
<body>
<div id="wrap">
  <!--배경 꾸미기 start-->
  <img id="right_pcline" th:src="@{/img/board/right_pcline.png}" alt="우팝콘 라인" draggable="false">
  <img id="left_pcline" th:src="@{/img/board/left_pcline.png}" alt="좌팝콘 라인" draggable="false">
  <img id="down_pcs" th:src="@{/img/board/popcorns.png}" alt="아래팝콘들" draggable="false">
  <!--배경 꾸미기 end-->

  <h1>신청 조회</h1>

  <div class="post_box">

  </div>
</div>
</body>
</html>