<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dash</title>
    <link rel="stylesheet" th:href="@{/css/admin/etc.css}">
    <link rel="stylesheet" th:href="@{/css/board/background.css}">
</head>
<body>
    <div id="wrap">
        <!--배경 꾸미기 start-->
        <img id="right_pcline" th:src="@{/img/board/right_pcline.png}" alt="우팝콘 라인" draggable="false">
        <img id="left_pcline" th:src="@{/img/board/left_pcline.png}" alt="좌팝콘 라인" draggable="false">
        <img id="down_pcs" th:src="@{/img/board/popcorns.png}" alt="아래팝콘들" draggable="false">
        <!--배경 꾸미기 end-->

        <h1>관리자 관련 앱</h1>

        <div class="post_box">

            <div class="items_area">
                <a href="https://aws.amazon.com/ko/">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/aws_cloud.png}">
                        </div>
                        <p>AWS Cloud</p>
                    </div>
                </a>


                <a href="https://www.ncloud.com/">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/ncp_cloud.png}">
                        </div>
                        <p>NCP Cloud</p>
                    </div>
                </a>


                <a href="https://app.terraform.io/session">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/terraform_cloud.png}">
                        </div>
                        <p>Terraform Cloud</p>
                    </div>
                </a>


                <a href="https://workspace.google.com/products/sheets/">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/sheets.png}">
                        </div>
                        <p>Google Sheets</p>
                    </div>
                </a>

                <a href="https://gw.chunjae.co.kr/app/works/applet/174/home">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/chunjae.png}">
                        </div>
                        <p>보안 요청 게시판</p>
                    </div>
                </a>

                <a href="https://gw.chunjae.co.kr/app/works/applet/188/home">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/chunjae.png}">
                        </div>
                        <p>인프라 요청 게시판</p>
                    </div>
                </a>

                <a href="https://gw.chunjae.co.kr/app/works/applet/187/home">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/chunjae.png}">
                        </div>
                        <p>클라우드 요청 게시판</p>
                    </div>
                </a>

                <a href="https://gw.chunjae.co.kr/app/works/applet/260/home">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/chunjae.png}">
                        </div>
                        <p>도메인 요청 게시판</p>
                    </div>
                </a>

                <a href="https://gw.chunjae.co.kr/app/works/applet/271/home">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/chunjae.png}">
                        </div>
                        <p>마리오 Mac주소 관리</p>
                    </div>
                </a>

                <a href="https://github.com/alpaca-drun">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/github.png}">
                        </div>
                        <p>GitHub</p>
                    </div>
                </a>

                <a href="http://git.drun-alpaca.com/">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/gitlab.png}">
                        </div>
                        <p>GitLab</p>
                    </div>
                </a>


                <a href="https://www.notion.so/k-3730/26a7333c72364f5ba7ff4fb89aec2b85">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/notion.png}">
                        </div>
                        <p>Notion</p>
                    </div>
                </a>

                <a href="http://jenkins.drun-alpaca.com">
                    <div class="item_box">
                        <div class="img_box">
                            <img th:src="@{/img/etc/jenkins.png}">
                        </div>
                        <p>Jenkins</p>
                    </div>
                </a>

            </div>

        </div>
    </div>
</body>
</html>