
/* 전체 감싸는 영역 */
#wrap { 
    width: 100%;
    height: 100vh;
    background: #020056;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrap h1{ /*페이지 타이틀*/
    font-family: 'jua';
    font-size: 2.5vw;
    color: #F6EEB2;
    position: relative;
    top: -2.5vw;
}

#wrap button{ /*로그아웃 버튼*/
    position: absolute;
    top: 15vh;
    right: 46vh;
    background-color: #020056;
    color: white;
    border: none;
    padding: 0.5vw 1.5vw;
    font-size: 1vw;
    margin: 0 auto;
    border-radius: 1vw;
    font-family: 'omyu-pretty';
    border: 0.1vw solid white;
}


/* 보드 영역 */
.post_box { 
    height: 30vw;
    background: white;
    border-radius: 3vw;
    width: 60%;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}