{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 홈</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>

    <div id="wrap">

        <!--배경 꾸미기 start-->
        <img id="right_pcline" src="{{ url_for('static', filename='images/board/right_pcline.png') }}" alt="우팝콘 라인" draggable="false">
        <img id="left_pcline" src="{{ url_for('static', filename='images/board/left_pcline.png') }}" alt="좌팝콘 라인" draggable="false">
        <img id="down_pcs" src="{{ url_for('static', filename='images/board/popcorns.png') }}" alt="아래팝콘들" draggable="false">
        <!--배경 꾸미기 end-->

        <h1>관리자 홈</h1>
        <a href="/logout">
            <button class="logout_button">로그아웃</button>
        </a>
        <div class="post_box">
            
            
        </div>
    </div>
</body>
</html>
{% endblock %}
